<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <appSettings>
    <add key="ResourceDir" value="Resource"/>
    <add key="TempDir" value="Temp"/>
  </appSettings>

  <connectionStrings>
    <add name="DBConnection" connectionString="../../../DB/ahyzyw.db3"/>
  </connectionStrings>

  <!--log4net-->
  <log4net>
    <logger name="ResourceItemRead">
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
    </logger>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ResourceItemRead.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-4r [%t] %-5p %c %x - %m%n"/>
      </layout>
    </appender>
  </log4net>

  <unity configSource="unity.config" />

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>