<?xml version="1.0" encoding="utf-8" ?>
<unity>
  <typeAliases>
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="string" type="System.String"/>
  </typeAliases>

  <containers>
    <!-- BLL-->
    <container name="BllContainer">
      <types>

        <type type="Ahzyzyw.BLL.Interface.IResourceBLL, Ahzyzyw.BLL.Interface" mapTo="Ahzyzyw.BLL.ResourceBLL, Ahzyzyw.BLL">
          <lifetime type="singleton" />
        </type>

        <type type="Ahzyzyw.BLL.Interface.IDigitalResourceBLL, Ahzyzyw.BLL.Interface" mapTo="Ahzyzyw.BLL.DigitalResourceBLL, Ahzyzyw.BLL">
          <lifetime type="singleton" />
        </type>

        <type type="Ahzyzyw.BLL.Interface.INewsBLL, Ahzyzyw.BLL.Interface" mapTo="Ahzyzyw.BLL.NewsBLL, Ahzyzyw.BLL">
          <lifetime type="singleton" />
        </type>
      </types>
    </container>

    <!-- DAL -->
    <container name="DalContainer">
      <types>

        <type type="Ahzyzyw.DAL.Interface.IResourceDAL, Ahzyzyw.DAL.Interface" mapTo="Ahzyzyw.DAL.SQLiteImpl.ResourceDAL, Ahzyzyw.DAL">
          <lifetime type="singleton" />
        </type>

        <type type="Ahzyzyw.DAL.Interface.IDigitalResourceDAL, Ahzyzyw.DAL.Interface" mapTo="Ahzyzyw.DAL.SQLiteImpl.DigitalResourceDAL, Ahzyzyw.DAL">
          <lifetime type="singleton" />
        </type>

        <type type="Ahzyzyw.DAL.Interface.INewsDAL, Ahzyzyw.DAL.Interface" mapTo="Ahzyzyw.DAL.SQLiteImpl.NewsDAL, Ahzyzyw.DAL">
          <lifetime type="singleton" />
        </type>

      </types>
    </container>
  </containers>
</unity>