<?xml version="1.0" encoding="utf-8" ?>
<unity>
  <typeAliases>
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="string" type="System.String"/>
  </typeAliases>

  <containers>
    <!-- BLL-->
    <container name="BllContainer">
      <types>
        
        <type type="Ahzyzyw.BLL.Interface.IResourceBLL, Ahzyzyw.BLL.Interface" mapTo="Ahzyzyw.BLL.RecourceBLL, Ahzyzyw.BLL">
          <lifetime type="singleton" />
        </type>

      </types>
    </container>

    <!-- DAL -->
    <container name="DalContainer">
      <types>
        
        <type type="Ahzyzyw.DAL.Interface.IResourceDAL, Ahzyzyw.DAL.Interface" mapTo="Ahzyzyw.DAL.SQLiteImpl.ResourceDAL, Ahzyzyw.DAL">
          <lifetime type="singleton" />
        </type>

      </types>
    </container>
  </containers>
</unity>